<input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
<label for="drawer-toggle" id="drawer-toggle-label"></label>
<div class="navicon"><span id="toggle"><span></span></span></div>

<div id="drawer">
  <div class="widget blog_info">
      <h1>
        <a href="http://www.blakebowling.com"  style="color:#fff">@ClimbingBlake</a>
        <a href="http://www.blakebowling.com"><img src="http://blakebowling.s3.amazonaws.com/logos-backgrounds/rockman2.png" class="logo" alt="@ClimbingBlake"></a>
      </h1>
    <hr>
  </div>
  <div class="widget main_navigation">
    <ul class="menu">

      <li class="menu-item"><a href="/about">About Me</a></li>
      <li class="menu-item"><a href="/projects">Projects</a></li>

      <li class="menu-item menu-item-has-children" style="display:none"><a href="#"></a>
        <ul class="sub-menu">
          <li class="menu-item"></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="widget socialshare">
    <hr>
    <div><img style="width:250px; background-color:#fff" src="http://blakebowling.s3.amazonaws.com/logos-backgrounds/evolv_200.png" /></div>
    <div><img style="width:250px;" src="http://blakebowling.s3.amazonaws.com/logos-backgrounds/jtree.png" /></div>
    <div><img style="width:250px;" src="http://blakebowling.s3.amazonaws.com/2014/04/aac_letter_logo.jpg" /></div>
    <div><img style="width:250px;" src="http://blakebowling.s3.amazonaws.com/logos-backgrounds/bad_bolts_3x4.png" /></div>
    <div><img style="width:250px;" src="http://blakebowling.s3.amazonaws.com/logos-backgrounds/amga_logo.jpg" /></div>
  </div>

  <div class="widget copyright">
    <p class="main">Copyright &copy; @ClimbingBlake. 2016 &bull; All rights reserved.</p>
  </div>

  <ul id="social">
    <li><a href="http://twitter.com/climbingblake" target="_blank" class="socialbutton twitter"><i class="fa fa-twitter"></i></a></li>
    <li><a href="http://instagram.com/climbingblake" target="_blank" class="socialbutton instagram"><i class="fa fa-instagram"></i></a></li>
    <li><a href="http://www.linkedin.com/in/blakebowling/" target="_blank" class="socialbutton linkedin"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="http://www.blakebowling.com/rss/" target="_blank" class="socialbutton rss"><i class="fa fa-rss"></i></a></li>
  </ul>
</div>


