<!-- Scripts -->
<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.scrollex.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.scrolly.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/skel.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/util.min.js" | prepend: site.baseurl }}"></script>
<!--[if lte IE 8]><script src="{{ "/js/ie/respond.min.js" | prepend: site.baseurl }}"></script><![endif]-->
<script src="{{ "/js/main.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/theme.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/highlight.pack.js" | prepend: site.baseurl }}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
  $(document).ready(function() {
    var first_img = $('.page img').first().attr('src') ;
    $('#main > header').css('background-image','url("'+first_img+'")');

    $(".page  img").addClass("img-responsive");
    //var number    = 1 + Math.floor(Math.random() * 5);
    //$('#main > header').css('background-image','url("/images/pic_'+number+'.jpg")');
  });
</script>